<footer>
<img class="pull-left" src="/logo.png" alt="" height="50" width="50">

<!-- <ul class="pull-left"><%= image_tag("/logo.png", :alt => "Sample App", :class => "image_container") %></ul> -->

<nav class="round">
		<ul class="nav navbar-nav pull-left">
			<li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>