<footer>
	<ul class="pull-left"><%= image_tag("logo.png", :alt => "Sample App", :class => "round") %></ul>

	
	<nav class="round">
		<ul class="nav navbar-nav pull-left">
			<li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>