<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<a class="navbar-brand" href="#">Sample App</a>
		<nav>
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to "Home", '../#' %></li>
				<li><a href="/static_pages/help">Help</a></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>